<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Arbiter Suite">

<listeners>
    <listener class-name="com.pom.listeners.ExtentReporterNG" />
    
  </listeners>

  <test name="Arbiter Cases">
    <classes>
      <class name="com.pom.ArbiterTestCases.chatousSanity"/>
    </classes>
  </test> <!-- ArbiterSuit -->
</suite> <!-- ArbiterSuit -->